.modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .modalContainer {
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 999;
    margin: auto;
    width: 49rem;

    .titleCloseBtn {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .body {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      text-align: center;
      font-weight: bold;
      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          width: intrinsic;
          text-size-adjust: auto;
          padding: 0;

          p {
            font-size: 19px;
            text-align: left !important;
          }
        }
      }
    }
  }
}
