.modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;

  .modalContainer {
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px 25px 100px 25px;
    z-index: 999;
    margin: auto;
    width: 49rem;
    position: relative;

    .titleCloseBtn {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;

      button {
        background-color: transparent;
        font-size: 19px;
        cursor: pointer;
      }
    }

    .body {
      ul {
        list-style: none;
        padding: 0;
        margin-top: 0;

        .file-item {
          padding: 0;
          display: flex;
          padding-right: 5rem;
          .file-name {
            font-size: 19px;
            text-align: left !important;
            margin-bottom: 5px;
            flex: 1;
          }

          .progress {
            width: 17rem;
            margin-top: 4.5px;
            flex: 2;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;

      button {
        width: 80px;
        height: 34px;
        background-color: rgb(39, 122, 160);
        font-size: 18px;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
