.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Balsamiq Sans', cursive;

  fieldset,
  legend {
    all: revert;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 33rem;
    width: 66rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border: solid 3px black;
    position: relative;

    .logo {
      width: 26rem;
      height: 7rem; /*height of your image*/
      transform: scale(0.3);
      background-image: url('../styles/logo.jpg');
      background-repeat: no-repeat;
      position: absolute;
      top: -13px;
      left: -129px;
    }

    .input-form-container {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-left: 9rem;
      margin-right: 21rem;
      .login-title {
        display: flex;
        justify-content: flex-end;

        .title {
          letter-spacing: 0.15rem;
        }
      }

      .input-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        label {
          flex: 2;
          padding-left: 8rem;
          margin: auto;
        }
        input {
          flex: 5;
          border: 3px solid black;
        }
      }

      .button-container {
        display: flex;
        justify-content: flex-end;

        .submit-button {
          box-shadow: 2px 4px #070707;
        }
      }
    }
  }
}
