.form-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31vw;
    padding: 2vw 6vw 6vw 6vw;
    border: solid 1px rgba(7, 7, 7, 0.5);

    .logo {
      width: 225px; /*width of your image*/
      height: 225px; /*height of your image*/
      background-image: url('../styles/logo.jpg');
      display: flex;
      justify-content: flex-start;
    }

    .login-title {
      display: flex;
      justify-content: flex-end;
    }

    .input-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      column-gap: 15px;

      label {
        flex: 2;
      }
      input {
        flex: 5;
      }
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
