.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;

  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 22rem;
    width: 44rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border: solid 3px black;
    position: relative;

    .logo {
      width: 26rem;
      height: 7rem; /*height of your image*/
      transform: scale(0.3);
      background-image: url('../styles/logo.jpg');
      background-repeat: no-repeat;
      position: absolute;
      top: -13px;
      left: -129px;
    }

    .input-container {
      padding-left: 1rem;
      max-width: 15rem;

      .button-container {
        display: block;
        width: 100%;
      }
    }
  }
}
